.progress-circle-container {
  position: relative;
  display: inline-block;
}

.progress-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.75rem;
  font-weight: bold;
  color: #1f2937;
}